<div class="about">
    {# <div class="about__title">
        <h1>About Us</h1>
        <img src="/assets/hi_img/service_1.png" alt="">
    </div> #}

    <div class="banner">
        <div class="banner__img">
            <img src={{ banners.details.about.img_url}} alt="">
        </div>
        <div class="banner__content">
            <h1 class="banner__title">
                {{ banners.details.about.title }}
            </h1>
            <p class="banner__dis">
                {{ banners.details.about.dis }}
            </p>
            <a href="/" class="banner__btn btn">
                {{ banners.details.about.btn }}
            </a>
        </div>
    </div>



</div>