<div class="contact">
    <div class="banner">
        <div class="banner__img">
            <img src={{ banners.details.contact.img_url }} alt="">
        </div>
        <div class="banner__content">
            <h1 class="banner__title">
                {{ banners.details.contact.title }}
            </h1>
            <div class="contact__form">
                <form class="form" action="" method="post">
                  <input class="int name" type="text" name="name" placeholder="Name">
                  <input class="int email" type="Email" name="email" placeholder="Email">
                  <input class="int subject" type="text" name="subject" placeholder="Subject">
                  <textarea class="message int" id="w3review" name="message" rows="5" cols="30" placeholder="Message"></textarea>
                  <button type="submit" class="btn">
                      Summit
                  </button>
                </form>
              </div>
        </div>
    </div>
</div>