<header>
    <a href="/" class="logo">
        <img src="/assets/hi_img/HI.png" alt="">
    </a>

    <nav class="nav">

        <a href="/" class="nav__logo">
            <img src="/assets/hi_img/HI.png" alt="">
        </a>

        <ul class="nav__list">

            <li class="nav__item">
                <a href="/" class="nav__link nav_home active">
                    <img src="/assets/hi_img/home.png" alt="">
                    <h2>Home</h2>
                </a>
            </li>

            <li class="nav__item">
                <a href="/about" class="nav__link nav_about">
                    <img src="/assets/hi_img/i.png" alt="">
                    <h2>About</h2>
                </a>
            </li>

            <li class="nav__item">
                <a href="/studios" class="nav__link nav_studios">
                    <img src="/assets/hi_img/service.png" alt="">
                    <h2>Studios</h2>
                </a>
            </li>

            <li class="nav__item">
                <a href="/contact" class="nav__link nav_contact">
                    <img src="/assets/hi_img/contact.png" alt="">
                    <h2>Contact</h2>
                </a>
            </li>

        </ul>
        
    </nav>
    <button class="menu__bar">
        <span></span>
        <span class="m"></span>
        <span></span>
    </button>

  
</header>