@use '../util' as *;

.banner {
    // height: 200px;
    margin-top: 1em;
    background: white;
    padding: 3em 0;
    display: grid;
    gap: 1em;

    &__img{
        width: 80%;
        // background: blue;
        // height:200px;
        margin: 0 auto;
    }
    
    &__content {
        width: 90%;
        // background: green;
        // height: 200px;
        margin: 0 auto;
        text-align: center;


        h1 {
            font-size: clamp(0.8rem, calc(4vw + 1rem), 3rem);
            font-weight: 700;
            color: #64D4D5;
            letter-spacing: 1px;
        }

        p {
            margin-top: 1em;
            color: #49487E;
            font-weight: 500;
            line-height: 1.4;
        }
    }



    @include breakpoint("small") {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        
        
        &__content {
            // background: red;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            width: 85%;

            text-align: left;
            margin: 0;
            margin-right: 2em;

            p {
                font-size: 1.3rem;
            }

        }
    }

}