---
title: "Halsana Info Tech"
layout: "base.njk"
---

<div class="banner">
    <div class="banner__img">
        <img src="/assets/hi_img/Banner_Image.png" alt="">
    </div>
    <div class="banner__content">
        <h1 class="banner__title">
            {{ banners.details.hero.title }}
        </h1>
        <p class="banner__dis">
            Stay Enhanced with us and with the ease of automated process by combining the uniqure problem solving and flexibility of humans for a whole new unique experience.
        </p>
        <a href="/" class="banner__btn btn">
            Hire Us
        </a>
    </div>
</div>


{%- include "services.njk" -%}

{%- include "about_section.njk" -%}

{%- include "studios_b.njk" -%}

{%- include "speciality.njk" -%}

{%- include "contact_b.njk" -%}
